extends layout 

block content 
    div(class="defaultBackground")
        h1= title 
        if artist_list.length 
            ul 
                each artist in artist_list 
                    li 
                        a(href=artist.url) #{artist.sorted_name} 

        else 
            p There are no artists in the database.