extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading")= title 
            if artist_list.length 
                ul(class="artistUL") 
                    each artist in artist_list 
                        li 
                            a(href=artist.url class='artistLI') #{artist.sorted_name} 

            else 
                p There are no artists in the database.