extends layout

block content
  div(class="welcomeBackground")
    div(class="welcomeBox")
      h1 Welcome
      p Browse famous works of art and learn about the creative minds behind them!

      h2 Current entries: 

      ul
        li #[strong Artists:] !{artist_count} 
        li #[strong Pieces:] !{piece_count}

      p Created by Jake Browning for The Odin Project, 2024.
      p (Artwork disclaimer)
      p (Portfolio Link)

