doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/meyerreset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/index.js" defer)
  body
    div(class='siteHeader')
      //- block sidebar
      div(class='centeredContent headerContents')
        ul(class='headerNav')
          li
            img.showNavButton(src='/icons/hamburgerwhite.svg')

          li
            //- TODO - Replace with a logo
            a(href='/catalog') The Virtual Gallery 

        //- TODO - Implement authorisation
        p User Login (TBA)
    div#siteMenu.hide
      ul(class='siteMenuNav')
        li
          a(href='/catalog/artists') All artists
        li
          a(href='/catalog/pieces') All pieces
        li
          a(href='/catalog/artist/create') Create new artist
        li
          a(href='/catalog/piece/create') Create new piece
    div(class='siteBody')
      block content

