extends layout 

block content 
    h1= title 
    if piece_list.length 
        ul 
            each piece in piece_list 
                li 
                    a(href=piece.url) #{piece.title} 
                    | - #{piece.artist.display_name} 

    else 
        p There are no pieces in the database.