extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading") #{title}: #{piece.title}
            
            h2 Are you sure you want to delete this piece? 

            form.formDeletion(method='POST')
                div.form-group 
                    input#pieceid.form-control(type='hidden', name='pieceid', value=piece._id) 

                button.controlButton.wholeRow(type='submit') Delete