extends layout 

block content 
    div(class="backgroundDefault")
        div(class='centeredContent')
            h1(class="defaultSubheading")= title 

            form(action="" method='POST') 
                div.formSection.wholeRow
                    label(for='username') Username:
                    input(type='text' placeholder='username' name='username' required)    
                div.formSection.wholeRow
                    label(for='password') Password:
                    input(type='password' name='password' required)
                button.controlButton.wholeRow(type='submit') Submit

            if errors 
                ul 
                    for error in errors 
                        li!= error.msg