html, body {
  background-color: rgb(216, 216, 216);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* display: grid;
  grid-template-rows: 75px 1fr; */

}

a {
  color: #00B7FF;
  /* color: #ff0026; */
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  /* padding: 20px; */
  /* border: solid 1px black; */
  height: 200px;
}

.imgThumbnail {
  object-fit: cover;
  height: 300px;
  /* width: 100%; */
  aspect-ratio: 1;
}

.siteBody {
  /* background-color: rgb(233, 233, 191); */
  border: 3px solid orange;
  /* margin: 10px; */
  margin-top: 90px;
  padding: 20px;
  /* height: 100%; */
}

.siteHeader {
  background-color: #393c41;
  position: fixed;
  display: flex;
  height: 90px;
  width: 100%;
}

.headerNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  color: white;
}

.headerNav > a {
  color: white;
}

.pieceGrid {
  background-color: rgb(253, 207, 215);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  overflow: auto;
}

.piecePreview {
  color: #4a4a4a;
    /* Make BG color white in final version */
  background-color: rgb(192, 221, 247);
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  /* height: 350px; */
  /* width: 200px; */
  gap: 10px;
}

.piecePreview > a {
  color: #4a4a4a;
}

.welcomeBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 700px;
  gap: 10px;
  max-width: 25rem;
  margin-left: auto;
  padding: 10px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
  border-radius: 0.25rem;
}
