html, body {
  background-color: white;
  color: #4a4a4a;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  box-sizing: border-box;
}

html {
 height: 100%;
}
body {
  min-height: 100vh;
}

a {
  color: #4a4a4a;
}

.controlButton {
  background-color: #2672a1;
  color: white;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
}

.pieceDetailControls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.pieceDetailButton {

}

form  {
  background-color: rgb(219, 219, 241);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  max-height: 100%;
  gap: 10px;
  margin: 0 auto 0 auto;
  padding: 20px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
  border-radius: 0.25rem;
}

.formNewArtist {
  grid-template-rows: repeat(3, 1fr) 4fr 1fr;
}

.formNewPiece {
  grid-template-rows: repeat(5, 1fr) 4fr 1fr 1fr;
}

.formDeletion {
  grid-template-rows: 1fr;
  gap: 0px;
  margin-top: 10px;
  /* height: 50px; */
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* box-sizing: border-box; */
  /* width: calc(100% - 40px); */
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.wholeRow {
  grid-column: 1 / -1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  /* height: 200px; */
}


.artistDetailField {
  margin-bottom: 10px;
}

.artistUL {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: inside disc;
}

.artistLI {
  font-size: 1.5rem;
}

.backgroundDefault {
  display: flex;
  justify-content: center;
  height: 100%;
}

.backgroundWelcome {
  display: flex;
  justify-content: center;
  height: calc(100% - 40px);
  padding-top: 40px;

  /* replace with lower-res version */
  background-image: url(../backgrounds/kienValley.jpg);
  background-size: cover;

}

.centeredContent {
  width: 100%;
  max-width: 1000px;
  margin: 0 40px 0 40px;
}

.fullContent {
  background-color: #747982;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.pieceDetailImage {
  box-sizing: border-box;
  height: 100%;
  width: auto;
  padding: 30px 10px 10px 10px;
  /* position: absolute; */
  margin: auto;
  z-index: 1;
} 

#pieceDetailCard {
  background-color: rgba(255, 255, 255, 0.545);
  box-sizing: border-box;
  max-height: 100%;
  max-width: 30rem;
  padding: 5px;
  position: absolute;
  z-index: 2;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pieceDetailKeyFacts {
  background-color: #e9edf560;
}

#pieceDetailDescription { 
  background-color: #e9edf560;
}

#pieceDetailButtons {
  background-color: #e9edf560;
}


.defaultSubheading {
  max-width: 1000px;
  margin: auto auto 10px auto;
  padding: 10px 0 10px 0 ; 
  border-bottom: #4a4a4a 1px solid;
}

.imgThumbnail {
  object-fit: cover;
  height: 300px;
  /* width: 100%; */
  aspect-ratio: 1;
}

.headerContents {
  /* width: 100%; */
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  justify-content: space-between;
  color: white;
}

.headerNav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.headerNav * {
  color: white;
}

.siteBody {
  margin-top: 90px;
  height: 100%;
}

.siteHeader {
  background-color: #393c41;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  z-index: 3;
}

.options {
  border-top:  #4a4a4a 1px solid;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
}

.pieceGrid {
  /* background-color: rgb(253, 207, 215); */
  display: grid;
  /* max-width: 1000px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow: auto;
  padding-bottom: 40px;
}

.piecePreview {
  color: #4a4a4a;
    /* Make BG color white in final version */
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 330px;
  gap: 10px;
}

.piecePreview > * {
  color: #4a4a4a;
  margin-bottom: 5px;
}

textarea {
  height: 100%;
}

.welcomeBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* height: 700px; */
  gap: 10px;
  max-width: 25rem;
  margin-left: auto;
  padding: 20px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
  border-radius: 0.25rem;
}
