html, body {
  /* Make BG color white in final version */
  background-color: rgb(238, 236, 236);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.siteHeader {
  background-color: #393c41;
  color: white;
  height: 75px;
}

.sidebar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

img {
  padding: 20px;
  border: solid 1px black;
  height: 200px;
}

.imgThumbnail {
  height: 150px;
}